* {
  box-sizing: border-box;
}

body {
  background-color: #1d1f23;
  color: #ededed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 115%;
}

.loader {
  display: inline-block;
  border: 0.2em solid #f3f3f3; /* Light grey */
  border-top: 0.2em solid #555; /* Blue */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.usernameForm form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18em;
}

.usernameForm input {
  font-size: 0.85em;
  padding: 0.26em;
}
